body {
    background: 
        linear-gradient(rgba(0, 255, 255, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 255, 255, 0.1) 1px, transparent 1px),
        linear-gradient(rgb(2, 12, 37), rgb(21, 8, 137));
    background-size: 50px 50px, 50px 50px, 100% 100%;
    flex-direction: column;
    min-height: 190vh;
    display: flex;
    margin: 0;          /* remove browser default */
    padding: 10;
    width: 100%;
}

.nav-container {
    padding: 10px;
    background: linear-gradient(rgb(5, 5, 54),rgb(8, 8, 9));
    height: 80px;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    text-align: center;
    border: 3px solid rgb(7, 14, 88);
    font-family:Arial;
    position: relative;
    margin-top: -12px;  
    position: sticky; 
    top: 0;
    z-index: 1000;
}

.nav-container2 {
    height: 40px;
    background: #0e027d;
}

.nav-item {
    padding: 20px;
    border: 2px solid rgb(34, 4, 255);
    width: 80px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    background: navy;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-item:hover {
    transform: translateY(-2px);
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 40px rgba(0, 187, 255, 0.4);
}

.logo {
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.logo img {
    width: 120px;
    margin-right: auto ;
    margin: 0;
}

label {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Medium;
    font-size: 1.5em;
}

label h3 {
    margin-right: 80px;
}

.desc-container {
    display: grid;
    gap: 35px;
    font-family:system-ui;
    justify-content: center;
    align-items: center;
    font-size: 1.55em;
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 45px;
    
}

.desc-container h1 {
    margin-bottom: 390px;
    line-height: 1.5;
    text-align: center;
}

.what-we-offer {
    display: flex;
    gap: 60px;
    font-family:system-ui;
    justify-content: center;
    align-items: center;
    font-size: 1.55em;
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -70px;
}

.sh1 {
    font-size: 1.65em;
}

.description {
    justify-content: center;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui;
}

.box {
    border: 2px solid rgb(14, 6, 170);
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    margin: 0 auto;
    background: rgb(5, 16, 20);
    border-color: rgba(11, 33, 230, 0.8);
    box-shadow: 0 10px 40px rgba(255, 255, 255, 0.4);
    margin-top: -350px;
}

.get-started button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 2px solid rgb(6, 6, 255);
    width: 340px;
    height: 40px;
    margin: 0 auto ;
    background: rgb(2, 31, 119);
    border-radius: 10px;
    transition: ease-in-out 0.6s;
    color:white;
    opacity: 0.5;
    transition: ease-in-out 0.6s;
}

.get-started button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 40px #1255ff;
    background: #1255ff;
}

.data-image {
    display: flex;
    justify-content: center;
}

.data-image img {
    width: 700px;
    height: 400px;
    margin-bottom: 100px;
    border: 2px solid navy;
    border-radius: 5px;
    animation: borderColorChange 3s ease-in-out infinite;
}

.cards-container{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.card-image img {
    width:600px;
    height:450px;
    margin-right: 100px;
    border:2px solid rgb(5, 11, 128);
    border-radius: 20px;
    box-shadow: 0 10px 40px rgb(36, 3, 186);
    transition: ease-in-out 0.3s;
    animation: borderColorChange 3s ease-in-out infinite;
}

.card {
    background: linear-gradient(rgb(143, 148, 243),white,rgb(7,18,243),rgb(7, 18, 213));
    padding: 20px;
    border: 2px solid white;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 0 40px 180px rgba(0, 0, 0, 0.4);
    border-color: rgba(2, 15, 132, 0.8);
    font-family: system-ui;  
    transition: all ease-in-out 0.5s;    
    border-color: white;  
}

.card h1 {
    background: linear-gradient(135deg, #4b4bad, #021138);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-title {
    text-align: center;
}

.card:hover {
    transform: translateY(-2px);
    border-color: rgba(3, 9, 63, 0.8);
    box-shadow: 0 10px 40px rgba(0, 110, 255, 0.4);
    
}

.card-button {
    border: 2px solid black;
    margin-top: 250px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(2, 2, 132),rgb(19, 55, 185));
    border-radius: 20px;
    border-color:white;
    color: white;
    transition: all ease-in-out 0.3s;
    margin-top: 50px;
}

.card-button:hover {
    transform: translateY(-2px);
    border-color: rgba(3, 9, 63, 0.8);
    box-shadow: 0 10px 40px rgba(0, 110, 255, 0.4);
}

.card-description {
    text-align: center;
}

.cards-image {
    justify-content: center;
    align-items: center;
    display: flex;
}

.cards-image img{
    width:180px;
    height:100px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid navy;
}

.WWO-line {
    width: 670px;
    margin-top: -20px;
    height: 17.5px;
    border-radius: 120px;
    background-color: linear-gradient(#1900ff, #044261);
    -webkit-text-fill-color: transparent;
    color:#02021c;
    box-shadow: 0 10px 40px rgb(3, 36, 126);
}   

.displayBTN {
   position: absolute;
   border: 2px solid rgb(40, 100, 230);
   padding: 10px;
   width: 100px;
   height: 30px;
   margin-left: 1225px;
   align-items: center;
   display: flex;
   text-align: center;
   justify-content: center;
   border-radius: 20px;
   background: linear-gradient(rgb(19, 59, 217),rgb(25, 25, 228));
   transition: ease-in-out 0.6s;
}

.displayBTN:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 40px #ffffff;
}

.svg-icon img {
    width: 300px;
    margin-top: 50px;
    margin-left: 220px;
}

.after-box {
    background: linear-gradient(rgb(11, 4, 146),blue);
    min-height: 50vh; /* makes it cover space */
    padding-top: 50px;
    margin: 0;          /* remove browser default */
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid rgb(6, 6, 90);
}

.after-box-content {
    display:flex;
    gap:130px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

.data-refinery h2 {
    color: white;
}

.product {
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui;
}

.support {
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui;
}

.use-cases {
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui;
}

.after-box-content p {
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui;
}

.after-box-content p:hover {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui;
}

.data-refinery h2 {
    font-family: Arial;
    font-weight: 500;
}

.after-box-logo {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.after-box-logo img {
    width: 80px;
    margin-top: -15px;
}

.after-box-line {
    margin-top: 50px;
    width: 1100px;
    color: rgb(5, 10, 117);
}

footer {
    text-align: left;
    margin-left: 220px;
    padding: 5px;
    color: rgba(156, 165, 179, 0.6);
    border-top: 1px solid rgba(90, 135, 249, 0.2);
  }

.light-mode {
    background: linear-gradient(lightblue,blue);
}

.light-mode .nav-container {
    background: linear-gradient(rgb(33, 170, 255),rgb(72, 44, 255));
    border: 3px solid rgb(0, 106, 255);
}

.light-mode .nav-item {
    background: radial-gradient(rgb(1, 153, 255),rgb(0, 170, 255));
    border: 2px solid rgb(32, 117, 235);
}

.light-mode .nav-item:hover {
    border: 2px solid white;
    box-shadow: 0 10px 40px rgb(223, 223, 223);
}

.light-mode .displayBTN {
    background: linear-gradient(rgb(0, 110, 255),rgb(84, 176, 247));
}

.light-mode .desc-container {
    background: linear-gradient(135deg, #062d87, #225ef3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.light-mode .sh1 {
    font-family: system-ui;
}

.light-mode .description {
    background: linear-gradient(135deg, #062d87, #225ef3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.light-mode .card {
    background: linear-gradient(white,rgb(255, 255, 255),rgb(0, 94, 255));
}

.light-mode .card:hover {
    border: 2px solid rgb(0, 213, 255);
}

.light-mode .card-button {
    background: linear-gradient(rgb(3, 106, 250),rgb(61, 146, 238));
}

.light-mode .box {
    background: rgb(168, 197, 241);
    box-shadow: 0 10px 50px rgb(0, 0, 255);
}

.light-mode .card h1 {
    background: linear-gradient(135deg, #0f6bea, #336dff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.light-mode .WWO-line  {
    background: linear-gradient(blue,lightq);
}

.light-mode .after-box {
    background: linear-gradient(rgb(33, 170, 255),rgb(72, 44, 255));
    border: 3px solid rgb(13, 132, 212);
}

.light-mode .after-box-content p {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.light-mode .after-box-content h2 {
    background: linear-gradient(135deg, #ffffff, #69cefa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.light-mode .after-box-content p:hover {
    background: linear-gradient(135deg, #220984, #08088d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.light-mode .nav-container2 {
    background: linear-gradient(rgb(0, 187, 255),rgb(97, 143, 251));
}

.after-box hr {
    color:white;
}

/* BORDER COLOR ANIMATION - ONLY ON CARD-IMAGE IMG */
@keyframes borderColorChange {
    0% {
        border-color: rgb(9, 11, 133);
        box-shadow: 0 10px 40px rgb(0, 120, 249);
    }
    25% {
        border-color: rgb(9, 11, 133);
        box-shadow: 0 10px 40px rgb(29, 0, 249);
    }
    50% {
        border-color: rgb(9, 11, 133);
        box-shadow: 0 10px 40px rgb(0, 120, 249);
    }
    75% {
        border-color: rgb(9, 11, 133);
        box-shadow: 0 10px 40px rgb(29, 0, 249);
    }
    100% {
        border-color: rgb(9, 11, 133);
        box-shadow: 0 10px 40px rgb(0, 120, 249);
    }
}