body {
    background: linear-gradient(rgb(2, 12, 37), rgb(21, 8, 137));
    flex-direction: column;
    min-height: 155vh;
    margin: 0;        
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav-container {
    padding: 10px;
    background: linear-gradient(rgb(5, 5, 54),rgb(8, 8, 9));
    height: 80px;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    text-align: center;
    border: 3px solid rgb(7, 14, 88);
    font-family:Arial;
    position: relative;
    margin-top: -12px;  
    position: sticky; 
    top: 0;
    z-index: 1000;
}

.nav-container2 {
    height: 40px;
    background: #0e027d;
}

.nav-item {
    padding: 20px;
    border: 2px solid rgb(34, 4, 255);
    width: 80px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    background: navy;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-item:hover {
    transform: translateY(-2px);
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 40px rgba(0, 187, 255, 0.4);
}

.logo {
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.logo img {
    width: 120px;
    margin-right: auto ;
    margin: 0;
}

label {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Medium;
    font-size: 1.5em;
}

label h3 {
    margin-right: 80px;
}

.tech-showcase {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui;
    font-size: 1.75em;
}

.tech-grid {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
}

.tech-grid img {
    width: 80px;
    margin-top: 10px;
}

.tech-item {
    font-family: Arial;
    margin-bottom: 10px;
    border: 2px solid rgb(64, 64, 205);
    width: 150px;
    height: 165px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(rgb(6, 6, 90),rgb(14, 9, 123));
    transition: all ease-in-out 0.3s;
    box-shadow: 0 10px 40px rgba(0, 110, 255, 0.4);
}

.tech-item:hover {
    transform: translateY(-10px);
    border-color: blue;
}

.tech-item p {
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22.5px;
}

.tech-item:nth-child(4) img {
    margin-bottom: -1px;
}

.item-desc {
    padding: 50px;
    width: 700px;
    height: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 75px auto;
    border-radius: 20px;
    border: 2px solid rgb(64, 64, 205);
    background: linear-gradient(rgb(6, 6, 90),rgb(14, 9, 123));
    transition: all ease-in-out 0.6s;
}

.item-desc:hover {
    transform: translateY(-10px);
    border-color: blue;
    box-shadow: 0 10px 40px rgba(0, 110, 255, 0.4);
}

.displayBTN {
    position: absolute;
    border: 2px solid rgb(40, 100, 230);
    padding: 10px;
    width: 100px;
    height: 30px;
    margin-left: 1225px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    background: linear-gradient(rgb(19, 59, 217),rgb(25, 25, 228));
    transition: ease-in-out 0.6s;
}

.displayBTN:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 40px #ffffff;
}

.button, .back-button {
    border: 2px solid rgb(64, 64, 205);
    padding: 12px;
    height: 20px;
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 80px;
    background: linear-gradient(rgb(10, 10, 232),rgb(14, 9, 123));
    color: rgb(7, 164, 207);
    font-family: Arial;
    transition: ease-in-out 0.25s;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 40px white;
}

.back-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 40px rgb(0, 225, 255);
}

.button h1, .back-button h1 {
    font-family: Verdana;
    font-size: 22.5px;
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttons {
    display: flex;
    gap: 300px;
    margin-left:23.5px;
}

.item img {
    height: 80px;
    width: 80px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: relative;
}

.item-0 {
    text-align: center;
    border: 2px solid rgb(64, 64, 205);
    padding: 15px;
    border-radius: 20px;
    background: linear-gradient(rgb(6, 6, 90),rgb(14, 9, 123));
    width: 120px;
    height: 140px;
    
    justify-content: center;
    box-shadow: 0 10px 40px rgb(64, 36, 226);
    min-height: 140px; 
    max-height: 140px;
}

.item-0 img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    
}

.item-0 p {
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22.5px;
    font-family: Arial;
}

.info {
    display: flex;
    align-items: center;
    font-size: 17.5px;
    color: white;
    font-family: Arial;
    line-height: 25px;
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 80px;
}

/* ================= AFTER BOX SECTION ================= */

.after-box {
    background: linear-gradient(rgb(11, 4, 146), blue);
    min-height: 50vh;
    padding-top: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid rgb(6, 6, 90);
}

.after-box-content {
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

.data-refinery h2 {
    color: white;
    font-family: Arial;
    font-weight: 500;
}

.product,
.support,
.use-cases {
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui;
}

.after-box-content p {
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui;
}

.after-box-content p:hover {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.after-box-logo {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.after-box-logo img {
    width: 80px;
    margin-top: -15px;
}

.after-box-line {
    margin-top: 50px;
    width: 1000px;
    color: rgb(5, 10, 117);
}

footer {
    text-align: left;
    margin-left: 220px;
    padding: 5px;
    color: rgba(156, 165, 179, 0.6);
    border-top: 1px solid rgba(90, 135, 249, 0.2);
}


.light-mode {
    background: linear-gradient(lightblue,blue);
}

.light-mode .nav-container {
    background: linear-gradient(rgb(33, 170, 255),rgb(72, 44, 255));
}

.light-mode .nav-item {
    background: radial-gradient(rgb(1, 153, 255),rgb(0, 170, 255));
}

.light-mode .displayBTN {
    background: linear-gradient(rgb(0, 110, 255),rgb(84, 176, 247));
}

.light-mode .tech-showcase {
    background: linear-gradient(135deg, #062d87, #225ef3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.light-mode .tech-item {
    background: linear-gradient(rgb(255, 255, 255),rgb(0, 123, 255), rgb(0, 123, 255));
    border-color: rgb(0, 102, 255);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.light-mode .tech-item:hover {
    border-color: white;
}

.light-mode .item-desc {
    background: linear-gradient(rgb(255, 255, 255),rgb(0, 123, 255), rgb(0, 123, 255));
    border-color: white;
}

.light-mode .item-desc:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 40px rgb(0, 8, 255);
}