body {
    background: linear-gradient(rgb(2, 12, 37), rgb(21, 8, 137));
    flex-direction: column;
    min-height: 155vh;
    display: flex;
}

.nav-container {
    padding: 20px;
    background: linear-gradient(rgb(5, 5, 54),rgb(8, 8, 9));
    height: 80px;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid white;
    font-family:Arial;
    position: relative;
    margin-top: -12px;
    
}

.nav-item {
    padding: 20px;
    border: 2px solid white;
    width: 80px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    background: radial-gradient(rgb(2, 2, 132),rgb(19, 55, 185));
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.nav-item:hover {
    transform: translateY(-2px);
    border-color: rgba(3, 9, 63, 0.8);
    box-shadow: 0 10px 40px rgba(0, 110, 255, 0.4);
}

.logo {
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.logo img {
    width: 150px;
    margin-right: auto ;
    margin: 0;
}

label {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Medium;
    font-size: 1.5em;
}

label h3 {
    margin-top: 10px;
}

.desc-container {
    display: flex;
    gap: 60px;
    font-family:system-ui;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 75px;
    
}

.description {
    justify-content: center;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui;
}

.box {
    border: 2px solid rgb(14, 6, 170);
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    opacity: 0.5;
    background: rgb(5, 16, 20);
    border-color: rgba(11, 33, 230, 0.8);
    box-shadow: 0 10px 40px rgba(255, 255, 255, 0.4);
}

.cards-container{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.card {
    background: linear-gradient(rgb(143, 148, 243),white,rgb(7,18,243),rgb(7, 18, 213));
    padding: 20px;
    border: 2px solid white;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 0 40px 180px rgba(0, 0, 0, 0.4);
    border-color: rgba(2, 15, 132, 0.8);
    font-family: system-ui;  
    transition: all ease-in-out 0.5s;    
    border-color: white;  
}

.card h1 {
    background: linear-gradient(135deg, #4b4bad, #021138);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-title {
    text-align: center;
}

.card:hover {
    transform: translateY(-2px);
    border-color: rgba(3, 9, 63, 0.8);
    box-shadow: 0 10px 40px rgba(0, 110, 255, 0.4);
    
}

.card-button {
    border: 2px solid black;
    margin-top: 250px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(2, 2, 132),rgb(19, 55, 185));
    border-radius: 20px;
    border-color:white;
    color: white;
    transition: all ease-in-out 0.3s;
    margin-top: 50px;
}

.card-button:hover {
    transform: translateY(-2px);
    border-color: rgba(3, 9, 63, 0.8);
    box-shadow: 0 10px 40px rgba(0, 110, 255, 0.4);
}

.card-description {
    text-align: center;
}

.cards-image {
    justify-content: center;
    align-items: center;
    display: flex;
}

.cards-image img{
    width:180px;
    height:100px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid navy;
}

.WWO-line {
    width: 450px;
    margin-top: -20px;
    color: rgb(15, 19, 238);
    height: 1px;
    border-radius: 20px;
    background: rgb(23, 7, 166);
}

.displayBTN {
   position: absolute;
   border: 2px solid rgb(40, 100, 230);
   padding: 10px;
   width: 100px;
   height: 30px;
   margin-left: 1225px;
   align-items: center;
   display: flex;
   text-align: center;
   justify-content: center;
   border-radius: 20px;
   background: linear-gradient(rgb(19, 59, 217),rgb(25, 25, 228));
   transition: ease-in-out 0.6s;
}

.displayBTN:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 40px #ffffff;

}
