body {
    background: linear-gradient(rgb(2, 12, 37), rgb(21, 8, 137));
    flex-direction: column;
    min-height: 155vh;
    
}

.nav-container {
    padding: 20px;
    background: linear-gradient(rgb(5, 5, 54),rgb(8, 8, 9));
    height: 80px;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    gap: 30px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid white;
    font-family:Arial;
    position: relative;
    margin-top: -12px;
    
}

.nav-item {
    padding: 20px;
    border: 2px solid white;
    width: 80px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    background: radial-gradient(rgb(2, 2, 132),rgb(19, 55, 185));
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.nav-item:hover {
    transform: translateY(-2px);
    border-color: rgba(3, 9, 63, 0.8);
    box-shadow: 0 10px 40px rgba(0, 110, 255, 0.4);
}

.logo {
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.logo img {
    width: 150px;
    margin-right: auto ;
    margin: 0;
}

label {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Medium;
    font-size: 1.5em;
}

label h3 {
    margin-top: 10px;
}

.tech-showcase {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui;
    font-size: 1.75em;
}

.tech-grid {
    display: flex;
    justify-content: center;
    align-items:baseline;
    gap: 50px;
    
}

.tech-grid img {
    width: 80px;
    margin-top: 10px ;
}

.tech-item {
    font-family: Arial;
    font-weight: 1px;
    margin-bottom: 10px;
    border: 2px solid rgb(64, 64, 205);
    width: 150px;
    height:165px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(rgb(6, 6, 90),rgb(14, 9, 123));
    transition: all ease-in-out 0.3s;
    box-shadow: 0 10px 40px rgba(0, 110, 255, 0.4);
}

.tech-item:hover {
    transform: translateY(-10px);
    border-color: blue;
}

.tech-item p {
    background: linear-gradient(135deg, #b7e7ff, #5a87f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22.5px;
}

.tech-item:nth-child(4) img {
    margin-bottom: -1px;
}

.item-desc {
    padding: 50px;
    border: 2px solid rgb(192, 192, 209);
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px auto;
    border-radius: 20px;
    border: 2px solid rgb(64, 64, 205);
    background: linear-gradient(rgb(6, 6, 90),rgb(14, 9, 123));
    transition: all ease-in-out 0.6s;
}

.item-desc:hover {
    transform: translateY(-10px);
    border-color: blue;
    box-shadow: 0 10px 40px rgba(0, 110, 255, 0.4);
    background: rgb(75, 79, 212) ;
}
